<div class="jumbotron">
    <h1>Bloccit</h1>
    <p>Bloccit is a resource for sharing links with the world!</p>
    <p>
        <%= link_to "Sign up today!", new_user_path, class: 'btn btn-primary' %>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>#1 website in the world</h2>
        <p>Bloccit receives more visits than every other website combined.</p>
        <%= link_to "SIGN UP", new_user_path %>
    </div>
    <div class="col-md-4">
        <h2>Makes you smarter</h2>
        <p>Bloccit will improve your IQ, guaranteed, or your money back!</p>
        <%= link_to "SIGN UP", new_user_path %>
    </div>
    <div class="col-md-4">
        <h2>Supports a cure</h2>
        <p>Bloccit supports research to cure sphenopalatine ganglioneuralgia.</p>
        <%= link_to "SIGN UP", new_user_path %>
    </div>
</div>