// Place all the styles related to the SponsoredPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sponsored {
    text-transform: uppercase;
    vertical-align: middle;
}

.sp-heading {
    padding: 1rem;
    border-radius: 4px;
}