<div class="media">
    <div class="media-body">
        <div class="p-3 mb-2 bg-info sp-heading">
            <h4 class="media-heading">
                <%= link_to sponsored_post.title, topic_sponsored_post_path(@topic, sponsored_post) %>&nbsp;<span class="sponsored small">[sponsored post]</span>
            </h4>
        </div>
    </div>
</div>